
/*--------------------------------------------------------------
# Sizing

<576 potrait mobile
>576 landscape mobile
>768 potrait tablets navbar collapse
>992 landscape tablets
>1200 laptops
--------------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  :root {
    overflow-x: hidden;
 
  }
  html, body {
    max-width:2400px;
    overflow-x: hidden; 
  }
}
@media (min-width: 768px) {
  section {
    padding: 3rem 0;
  }
}


/*--------------------------------------------------------------
# Tablet Size
--------------------------------------------------------------*/
@media(min-width: 700px) {
  #homequote{
    background-color: #BDB1FF;
    font-family: "Poppins";
    color: white;
    font-size: 15px;
    font-weight:400;
    width:380px;
    height:130px;
    position: absolute;
    bottom: 30%;
    padding: 20px;
  }
  
  section#About {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    height:1200px;
    padding: 30px;
  }
  
  #roadmap1{
    background-color: #BDB1FF;
    z-index:3;
    width:100%;
  }
  
  .responsive {
    width: 70%;
    height: 70%;
  }
  #centermobile{
    padding-left:50px;
  }
  .navbar {
    width: 1250px !important;
    background-color:transparent;
    overflow: none;
    padding-left:68px;
    padding-right:40px;
    z-index:10;
    top:0;

  }
  #carouselExampleIndicators{
    position:absolute;
    width:100%;
    top:0;
  }
  
}

@media (max-width: 800px) {
  section {
    padding: 5rem 0;
  }
  .navbar {
    width: 450px !important;
    background-color:transparent;
    overflow: none;
    padding-left:68px;
    padding-right:40px;
    z-index:10;
    top:0;
  }
  #carouselExampleIndicators{
    position:absolute;
    width:100%;
    top:0;
  }
  
  
  #homequote{
    background-color: #BDB1FF;
    font-family: "Poppins";
    color: white;
    font-size: 15px;
    font-weight:400;
    width:380px;
    height:130px;
    position: absolute;
    bottom: 30%;
    padding: 20px;
  }
  
  .timeline-badge {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    color:white;
    position: absolute;
    top: 16px;
    right: -3px;
    margin-left: -25px;
    background-color: #F0F5FD;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

.timeline1::after {
  display: none;
  content: '';
  position: absolute;
  width: 3px;
  height:428px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline2::after {
  display: none;
  content: '';
  position: absolute;
  width: 3px;
  height:428px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline3::after {
  display: none;
  content: '';
  position: absolute;
  width: 3px;
  height:428px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline4::after {
  display: none;
  content: '';
  position: absolute;
  width: 3px;
  height:428px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline5::after {
  display: none;
  content: '';
  position: absolute;
  width: 3px;
  height:428px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

  #image-marketing{
    float:right;
    width:200px;
    height:200px;
  }
  #image-creative{
    float:left;
    width:200px;
    height:200px;
  }

  #creative{
    text-align: left;
     overflow:hidden;
   }
   
   #marketing{
    text-align: right;
      overflow:hidden;
   }

   #teamm{
    text-align: right;
    font-family: "Poppins";
    font-size: 35px;
    color:#151515;
  }
  
  #teamc{
    text-align: left;
    font-family: "Poppins";
    font-size: 35px;
    color:#151515;
  }
  .img{
    width:auto;
    height:auto;
  }
  .responsive {
    width: 70%;
    height: 70%;
  }

  #centermobile{
    padding-left:50px;
  } 
}


/*--------------------------------------------------------------
# Mobile Size
--------------------------------------------------------------*/

@media (max-width: 480px) {
 
  #image-marketing{
    float:right;
    width:150px;
    height:150px;
  }
  #image-creative{
    float:left;
    width:150px;
    height:150px;
  }
  #creative{
    text-align: left;
    overflow:hidden;
   }
   
   #marketing{
    text-align: right;
      overflow:hidden;
   }

   #teamm{
    text-align: right;
    font-family: "Poppins";
    font-size: 25px;
    color:#151515;
  }
  
  #teamc{
    text-align: right;
    font-family: "Poppins";
    font-size: 25px;
    color:#151515;
  }
  .img{
    width:auto;
    height:auto;
  }
  .responsive {
    width: 50%;
    height: 50%;
  }

  #comicsstrip{
    transition:transform 0.25s ease;
  }

  #comicsstrip:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
  }

  #centermobile{
    padding-left:10px;
   
  }

  .navbar {
    width: 500px !important;
    background-color:transparent;
    overflow: none;
    padding-left:10px;
    padding-right:85px;
    z-index:10;
    top:0;
  }
  #carouselExampleIndicators{
    position:absolute;
    width:100%;
    top:0;
  }
  

  #logo{
    width:70px!important;
    height:50px !important;
    padding-right:20px !important;
  }

  #captiondiv{
    width:90%;
   padding-left:155px;
  }

  #menubar{
    width:20px !important;;
    height:20px !important;;
  }
  .twitter {
    width:40px !important;
    height:35px !important;
    background: url("../assets/img/TwitterWhite.svg") no-repeat;
  }
  .twitter:hover {
    background: url("../assets/img/TwitterInvert.svg") no-repeat;
    width:40px !important;
    height:35px !important;
  }
  
  .discord {
    width:40px !important;
    height:35px !important;
    background: url("../assets/img/DiscordWhite.svg") no-repeat;
  }
  .discord:hover {
    background: url("../assets/img/Discord_invert.svg") no-repeat;
    width:40px !important;
    height:35px !important;
  }
  .opensea {
    width:40px !important;
    height:35px !important;
    background: url("../assets/img/OpenseaWhite.svg") no-repeat;
  }
  .opensea:hover {
    background: url("../assets/img/Opensea-Invert.svg") no-repeat;
    width:40px !important;
    height:35px !important;
  }
  
  .instagram {
    width:40px !important;
    height:35px !important;
    background: url("../assets/img/instagramWhite.svg") no-repeat;
  }
  .instagram:hover {
    background: url("../assets/img/instagramInvert.svg") no-repeat;
    width:40px !important;
    height:35px !important;
  }
  
  .youtube{
    width:40px !important;
    height:35px !important;
    background: url("../assets/img/youtubeWhite.svg") no-repeat;
  }
  .youtube:hover {
    background: url("../assets/img/youtubeInvert-01.svg") no-repeat;
    width:40px !important;
    height:35px !important;
  }
  html, body {
    max-width:450px;
    overflow-x: hidden; 
  }

  #homequote{
    background-color: #BDB1FF;
    font-family: "Poppins" !important;
    color: white;
    font-size: 14px!important;
    font-weight:600 !important;
    width:320px !important;
    height: 165px !important;
    position: absolute;
    bottom: 20%;
    padding-left:60px;
    left:0px;
  }

  #faqhead{
    padding-left:40px !important;
    width:480px;
  }
  #faqdesc{
    font-family: "Poppins";
    font-size: 19px!important;
    color:#000000;
    width:75%;
    font-weight:450;
  }
  #faqqn{
    font-family: "Poppins"!important;
    font-size:20px !important;
    color:#FF67A3;
    font-weight:550!important;
    line-height: 1.1;
  }
  #faq1{
    background-color:#F5F5F5;
    padding-left: 10px !important;
    padding-right:10px!important;
    
  }
  ul li {
    float:left;
    padding: 2px !important;
    display: block;
   
  }
  ul{
    margin:0;
    padding:0;
    justify-content: right;
    word-spacing:0;
  }
  li{ 
    list-style-type:none;
    display:inline-block; 
    margin-right:.3px;
  }
  #teampos{
    font-family: "Playfair Display";
    font-size: 20px!important;
    color:#1E9EE2;
    font-weight:bold;
  }
  #aboutteam{
    font-family: "Poppins";
    font-size: 50px;
    color:#1E9EE2;
    text-align:left;
    padding-left:40px !important;
  }
  #launch{
    font-family: "SF Pro";
    font-size: 18px !important;
    color: #FF7C44;
    font-weight:500; 
    float:right;
    position:relative;
    top:0px !important;
    left:10px;
 }
 .footer {
  background-color: #33793E;
  text-align: center;
  font-size: 17px!important;
  font-family: "Playfair Display";
  color: white;
}

#faqqn{
  font-family: "Poppins";
  font-size:30px;
  color:#FF67A3;
  font-weight:550;
  line-height: 1.1;
}
.bgimg{
  display: none;
}
.bgimg1{
  width:450px;
  height:800px;
  display: block;
}

}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
 
  }
}

/*--------------------------------------------------------------
# Laptop Screen Size
--------------------------------------------------------------*/

@media (min-width: 900px) {
#homequote{
  background-color: #BDB1FF;
  font-family: "Poppins";
  color: white;
  font-size: 22px;
  font-weight:600;
  width:800px;
  height: 150px;
  position: absolute;
  bottom: 20%;
  padding-left: 100px;
  left:0px;
}
.navbar {
  width: 1250px;
  background-color:transparent;
  overflow: none;
  padding-left:68px;
  padding-right:40px;
}

#carouselExampleIndicators{
  position:absolute;
  width:100%;
  top:0;
}

.bgimg{
  width: 1200px;
  height:800px;
  display: block;
}

.bgimg1{
  width:410px;
  height:800px;
  display:none;
}

#roadmap1{
  background-color: #BDB1FF;
  z-index:3;
  padding:30px;
}
#roadmap2{
  background-color: #BDB1FF;
  z-index:3;
  padding:30px;
}

#roadmap3{
  background-color: #BDB1FF;
  z-index:3;
  padding:30px;
}

#roadmap4{
  background-color: #BDB1FF;
  z-index:3;
  padding:30px;
}
#roadmap5{
  background-color: #BDB1FF;
  z-index:3;
  padding:30px;
}

#image-marketing{
  float:right;
}
#image-creative{
  float:left;
}
#creative{
 text-align: left;
  overflow:hidden;
}
#marketing{
 text-align: right;
   overflow:hidden;
}
#teamm{
  text-align: right;
  font-family: "Poppins";
  font-size: 35px;
  color:#151515;
}

#teamc{
  text-align: left;
  font-family: "Poppins";
  font-size: 35px;
  color:#151515;
}

}

/*--------------------------------------------------------------
# Big Screen Size
--------------------------------------------------------------*/
@media (min-width: 1400px) {
  .navbar {
    width: 1850px !important;
    background-color:transparent;
    overflow: none;
    padding-left:68px;
    padding-right:150px !important;
    z-index:10;
    top:0;
  }
  .bgimg{
    width: 1900px;
    height:800px;
  }
 
}

/*--------------------------------------------------------------
# HeroBG
--------------------------------------------------------------*/
#menubar{
  width:30px;
  height:30px;
}
.twitter {
  width:45px;
  height:40px;
  background: url("../assets/img/TwitterWhite.svg") no-repeat;
}
.twitter:hover {
  background: url("../assets/img/TwitterInvert.svg") no-repeat;
  width:45px;
  height:40px;
}

.discord {
  width:45px;
  height:40px;
  background: url("../assets/img/DiscordWhite.svg") no-repeat;
}
.discord:hover {
  background: url("../assets/img/Discord_invert.svg") no-repeat;
  width:45px;
  height:40px;
}
.opensea {
  width:45px;
  height:40px;
  background: url("../assets/img/OpenseaWhite.svg") no-repeat;
}
.opensea:hover {
  background: url("../assets/img/Opensea-Invert.svg") no-repeat;
  width:45px;
  height:40px;
}

.instagram {
  width:45px;
  height:40px;
  background: url("../assets/img/instagramWhite.svg") no-repeat;
}
.instagram:hover {
  background: url("../assets/img/instagramInvert.svg") no-repeat;
  width:45px;
  height:40px;
}

.youtube{
  width:45px;
  height:40px;
  background: url("../assets/img/youtubeWhite.svg") no-repeat;
}
.youtube:hover {
  background: url("../assets/img/youtubeInvert-01.svg") no-repeat;
  width:45px;
  height:40px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  background-image: url('../assets/img/HeroBG1.png');
}
#logo{
  width:70px;
  height:70px;
}
ul li {
  float:left;
  padding: 12px;
  display: block;
 
}
ul{
  margin:0;
  padding:0;
  justify-content: right;
  word-spacing:0;
}
li{ 
  list-style-type:none;
  display:inline-block; 
  margin-right:.3px;
}

#navigation-list {
  list-style:none;
  display:table;
  width:100%;
  text-align:right;
  word-spacing:-.5em;
  padding-left:0;
  margin:0;
}

li.navigation-link {
  display:inline-block;
  word-spacing:0;
  font-size:30px;
  text-decoration:none;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 50px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
section#headersection {
  background-color:white;
  background-repeat: no-repeat;
  background-position: center;
  height:750px;
  padding-bottom:96px;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
section#About {
  background-color:white;
  background-repeat: no-repeat;
  background-position: center;
  height:110%;
  padding: 30px;
  padding-bottom:96px;

}
#aboutheader{
  font-family: "Poppins";
  font-size: 50px;
  color:#FF4950;
  text-align:left;
  font-weight:500;
  padding-left:15px;
}

#abtdesc{
  font-family: "Poppins";
  font-size: 18px;
  color:#0B3D69;
  padding-left:15px;
}

#launch{
   font-family: "SF Pro";
   font-size: 18px;
   color: #FF7C44;
   font-weight:500; 
   float:right;
   position:relative;
   top:30px;
}

#comic{
  width: 400px;
  height: 180px;
}
#comicsstrip{
  width:250px;
  height:170px;
  transition:transform 0.25s ease;
}
#comicsstrip:hover{
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
}

#captiondiv{
   width:90%;
  padding-left:155px;
}
#comiccaption{
  font-family: "Poppins";
  font-size: 15px;
  color: #0B3D69;
  font-style: italic;
  text-align: center;
}


/*--------------------------------------------------------------
# Photo Gallery
--------------------------------------------------------------*/
section#Gallery {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width:auto;
  height: auto;
  padding: 0rem 0 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 0 0 0px;
  width: 200px;
	height: 200px;
	background: #f0f0f0;
}

div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

/* Create four equal columns that sits next to each other */
.columns {
  flex: 25%;
  padding: 0 0px;
 
}

.columns img {
  width: 100%;
}
/*--------------------------------------------------------------
# Description
--------------------------------------------------------------*/
section#description {
  background-color: #0B3D69;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 0rem 0 0;
}
#traitsdiv{
  padding-left: 50px;
}

#traitstitle{
  font-family: "Poppins";
  font-size:30px;
  font-weight: 300;
  color:#ECFE52;
  font-weight:600;
}

.traits {
  background-color: #BDB1FF;
  padding: 40px;
}

.traits2 {
  background-color: #2020FF;
  padding: 70px;
 
}
#traitsfont{
  font-family:"Playfair Display";
  font-size:20px;
  color:#ECFE52;
  width: 100%;
}
#num{
  font-family:"Poppins";
  font-size:20px;
  color:#ECFE52;
  font-weight: 300;
}
#desc3{
  font-family: "Poppins";
  font-size: 30px;
  color:#E4E4E4;
  text-align: left;
  font-weight:600;
}
#desc4{
  font-family: "Poppins";
  font-size: 20px;
  color:#E4E4E4;
  text-align: left;
  font-weight:500;
}


/*--------------------------------------------------------------
# Roadmap
--------------------------------------------------------------*/

section#roadmap {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top:96px;
  padding-bottom:96px;
}

#roadmap1{
  background-color: #BDB1FF;
  z-index:3;
}

#p1_0{
  font-family: "Poppins";
  font-size:80px;
  color:white;
  font-weight:1000;
}
#p1_1{
  font-family: "Poppins";
  font-size: 28px;
  color:#FDD902;
  font-weight:500;
}

#p1_2{
  font-family: "Poppins";
  font-size: 20px;
  color:#363636;
}

#roadmap2{
  background-color: #97E1FF;
}

#p2_0{
  font-family: "Poppins";
  font-size:80px;
  color:white;
  font-weight:1000;
}
#p2_1{
  font-family: "Poppins";
  font-size: 28px;
  color:#FF4950;
  font-weight:500;
}

#p2_2{
  font-family: "Poppins";
  font-size: 20px;
  color:#363636;
}

#roadmap3{
  background-color:#93AB8F;
}

#p3_0{
  font-family: "Poppins";
  font-size:80px;
  color:white;
  font-weight:1000;
}
#p3_1{
  font-family: "Poppins";
  font-size: 28px;
  color:#FBF9F4;
  font-weight:500;
}

#p3_2{
  font-family: "Poppins";
  font-size: 20px;
  color:#151515;
}

#roadmap4{
  background-color: #FBE4D1;
}

#p4_0{
  font-family: "Poppins";
  font-size:80px;
  color:white;
  font-weight:1000;
}
#p4_1{
  font-family: "Poppins";
  font-size: 28px;
  color:#006D7A;
  font-weight:500;
}

#p4_2{
  font-family: "Poppins";
  font-size: 20px;
  color:#151515;
}

#roadmap5{
  background-color:#F3FE62;
}

#p5_0{
  font-family: "Poppins";
  font-size:80px;
  color:#FF474F;
  font-weight:1000;
}
#p5_1{
  font-family: "Poppins";
  font-size: 28px;
  color:#FF4950;
  font-weight:500;
}

#p5_2{
  font-family: "Poppins";
  font-size: 20px;
  color:#646464;
}

/* The actual timeline (the vertical ruler) */
.timeline1 {
  position: relative;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline1::after {
  content: '';
  position: absolute;
  width: 3px;
  height:458px;
  background: linear-gradient( #BDB1FF,#B9B6FF, #A9CBFF,#97E1FF);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}

/* The actual timeline (the vertical ruler) */
.timeline2 {
  position: relative;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline2::after {
  content: '';
  position: absolute;
  width: 3px;
  height:458px;
  background: linear-gradient( #97E1FF,#96D3E2, #94B9AC,#93AB8F);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}

/* The actual timeline (the vertical ruler) */
.timeline3 {
  position: relative;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline3::after {
  content: '';
  position: absolute;
  width: 3px;
  height:458px;
  background: linear-gradient( #93AB8F, #AAB79E, #D9D1BB,#FBE4D1);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}

/* The actual timeline (the vertical ruler) */
.timeline4 {
  position: relative;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline4::after {
  content: '';
  position: absolute;
  width: 3px;
  height:528px;
  background: linear-gradient( #FBE4D1, #F9EAB9, #F5F782,#F3FE62);
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline5 {
  position: relative;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline5::after {
  content: '';
  position: absolute;
  width: 3px;
  height:318px;
  background-color: #F3FE62;
  top: 0;
  bottom: 0;
  right: 15px;
  z-index: 10;

}
.timeline-badge {
  width: 40px;
  height: 40px;
  line-height: 42px;
  font-size: 1.4em;
  text-align: center;
  color:#A3A3A3;
  position: absolute;
  top: 15px;
  right: -3px;
  margin-left: -25px;
  background-color: #D6E1F2;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.responsive {
  width: 100%;
  height: 100%;
}


/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
section#faq {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 0rem 0 0;
  padding-bottom:60px;
}

#faqheader{
  font-family: "Poppins";
  font-size: 50px;
  color:#FF67A3;
  text-align:left;
  font-weight:500;

}
#faqhead{
  padding-left:120px;
}


#faqdesc{
  font-family: "Poppins";
  font-size: 20px;
  color:#000000;
  width:75%;
  font-weight:450;
}

#faq1{
  background-color:#F5F5F5;
  padding-left: 100px;
  padding-right:100px;
  
}

#faqqn{
  font-family: "Poppins";
  font-size:30px;
  color:#FF67A3;
  font-weight:550;
}
#faqans{
  font-family: "Poppins";
  font-size: 16px;
  color:#363636;
}
#discordlink { color: black; }


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
section#team {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom:96px;
}

#aboutteam{
  font-family: "Poppins";
  font-size: 50px;
  color:#1E9EE2;
  text-align:left;
}

#profilepic{
  width: 120px;
  height:120px;
}
#teampos{
  font-family: "Playfair Display";
  font-size: 22px;
  color:#1E9EE2;
  font-weight:bold;
}

#teamdesc{
  font-family: "Poppins";
  font-size: 14px;
  color:#343434;
}

/*--------------------------------------------------------------
# Terms and Conditions
--------------------------------------------------------------*/
#tnc{
  font-family: "Poppins";
  font-size: 14 px;
  color:#151515;
}
#tncheader{
  font-family: "Poppins";
  font-size: 25px;
  color:#151515;
  font-weight:bold;
}
.termsbody{
  padding-left:100px;
  padding-right:100px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footerbadge{
  width:30px;
  height:30px;
}
.footer {
  background-color: #33793E;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins";
  color: white;

}

.twitter1 {
  width:30px;
  height:30px;
  background: url("../assets/img/TwitterWhite.svg") no-repeat;
}
.twitter1:hover {
  background: url("../assets/img/TwitterInvert.svg") no-repeat;
  width:30px;
  height:30px;
}

.discord1 {
  width:30px;
  height:30px;
  background: url("../assets/img/DiscordWhite.svg") no-repeat;
}
.discord1:hover {
  background: url("../assets/img/Discord_invert.svg") no-repeat;
  width:30px;
  height:30px;
}
.opensea1 {
  width:30px;
  height:30px;
  background: url("../assets/img/OpenseaWhite.svg") no-repeat;
}
.opensea1:hover {
  background: url("../assets/img/Opensea-Invert.svg") no-repeat;
  width:30px;
  height:30px;
}

.instagram1 {
  width:30px;
  height:30px;
  background: url("../assets/img/instagramWhite.svg") no-repeat;
}
.instagram1:hover {
  background: url("../assets/img/instagramInvert.svg") no-repeat;
  width:30px;
  height:30px;
}

.youtube1{
  width:30px;
  height:30px;
  background: url("../assets/img/youtubeWhite.svg") no-repeat;
}
.youtube1:hover {
  background: url("../assets/img/youtubeInvert-01.svg") no-repeat;
  width:30px;
  height:30px;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/

h1{
  font-family: "Poppins";
  font-size: 50px;
  color:#33793E;
}
h2{
  font-family: "SF Pro";
  font-size: 50px;
  color:#4483A9;
}
h3{
  font-family: "Poppins";
  font-size: 50px;
  color: white;
}






